
:root {
  --border-radius: 20px;
  --project-text-overlap: 250px;
  --project-menu-spacer-width: 25px;
  --socials-menu-spacer-height: 90px; /* max is 105 */
  --myBlue: #08fdd8;
  /* --myRed: #fe1251; */
  
  --myGray1: #a2a2a3;
  --myGray2: #2c2c2c;
  --myBlack: 29, 29, 29;
  /* --myWhite: rgb(255, 255, 255); */

  --myNavy: #0a192f;
  --myLightNavy: #112240;
  --myLightestNavy: #233554;
  --mySlate: #8892b0;
  --myLightSlate: #a8b2d1;
  --myLightestSlate : #ccd6f6;
  --myWhite: #e6f1ff;
  --myBlue: #64ffda;


  --project-color1: #31fd08;
  --project-color2: #8eb143;
  --project-color3: #c3de29;
}








/* defining the overall layout of the page */
body {
  background-color: rgb(var(--myBlack));
  z-index: 3;
}

#main-body {
    font-family: sans-serif;
    /* font-family: 'Fira Code', monospace; */
    /* font-family: 'Roboto Mono', monospace; */
    /* font-family: 'Courier New', Courier, monospace; */
    color: var(--myWhite);
    background: rgb(var(--myBlack));
    padding: 20px;
    max-width: 1200px;
    min-width: 1100px;
    margin: 0 auto;
    position: relative;
    /* overflow-x: scroll; */
    overflow-x: hidden;
  }








  /* cursor follow stuff */

#cursor-container {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  z-index: 9999;
}


.cursor-follow {
  position: absolute;
  /* transform: translate(-610%, -635%); */
  transform: translate(-28.5px, -29.5px);
  width: 6px;
  height: 6px;
  background-color: var(--myBlue);
  opacity: 0.8;
  border-radius: 50%;
  /* transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out; */
}

.circle-follow {
  position: absolute;
  transform: translate(-28.5px, -29.5px);
  width: 28px;
  height: 28px;
  border: 0.8px solid var(--myBlue);
  border-radius: 50%;
  opacity: 0.75;
  background-color: transparent;
}

.cursor-follow-clickable {
  /* make the width 60px */
  /* transform: translate(-28.5px, -29.5px); */
  width: 20px;
  height: 20px;
  opacity: 0.5;
  /* animation: bounce 0.5s ease-in-out; */
  /* transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out; */
}

/* @keyframes bounce {
  0% {
    width: 5px;
    height: 5px;
  }
  30% {
    width: 22px;
    height: 22px;
  }
  60% {
    width: 18px;
    height: 18px;
  }
  100% {
    width: 20px;
    height: 20px;
  }
} */








  /* defining the header and header menus */
  .static-menu {
    background-color: rgba(var(--myBlack), 0.5);
    border-radius: var(--border-radius);
    width: 500px;
    z-index: 1;
    margin-right: 10px;
    margin-left: auto;
    position: static;
    right: 10px;
    opacity: 0;
    animation: fadein 0.8s ease-out;
    animation-delay: 3.76s;
    animation-fill-mode: forwards;
  }

  .moving-menu {
    background-color: rgba(var(--myBlack), 0.5);
    border-radius: var(--border-radius);
    width: 500px;
    z-index: 1;
    margin-right: 27px;
    margin-left: auto;
    position: fixed;
    right: calc(50% - 617px);
    opacity: 1;
    
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    top: -70px;
    transition: top 0.3s ease-in-out;

  }

  @media screen and (max-width: 1250px) {
    .moving-menu {
      right: 10px;
    }
  }

  /* for when the menu pops down when scrolling up */
  .menu-sticky {
    position: fixed;
    top: 20px;
    opacity: 1;
    transition: top 0.3s ease-in-out;
  }

  /* to make the moving menu disappear when close to the top */
  .menu-invisible {
    opacity: 0;
  }
  
  /* the list of menu items */
  .menu-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3.5em;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* the menu items themselves */
  .menu-item {
    color: var(--myGray1);
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }

  .menu-item:hover {
    color: var(--myBlue);
    transition: 0.3s ease-in-out;
  }

  /* the vertical line between the menu items */
  .menu-spacer {
    border-width: 0.5px;
    border-style: solid;
    border-color: var(--myGray1);
    border-top-width: 8px;
    border-bottom-width: 8px;
  }

  #name-logo {
    margin: 10px;
    font-size: 20px;
    /* font-family: Arial, sans-serif; */
    /* font-family: Consolas,monaco,monospace;  */
    /* font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; */
    /* font-family: Andale Mono,AndaleMono,monospace;  */
    font-weight: bold;
    color: var(--myBlue);
    border: 2px solid var(--myBlue);
    padding: 10px;
    border-radius: var(--border-radius);
    width: fit-content;
    height: fit-content;
    margin-left: 20px;
  }

    /* this contains the static menu and the name-logo */
  .header-menu-container {
    display: flex;
  }








  /* the typing cursor */
  .cursor {
    background-color: var(--myBlue);
    width: 4px;
    display: inline-block;
    height: 1em;
    margin-left: 2px;
    animation: none;
  }
  
  @keyframes blink {
    50% {
      background-color: transparent;
    }
  }








  #typing-container {
    display: flex;
    transform: translateX(-290px);
    animation: slidein 0.8s ease-out;
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }
  
  #typing-left {
    border-radius: var(--border-radius);
    text-align: left;
  }
  
  #typing-right {
    padding: 60px 60px 0px 20px;
    justify-content: center;
    display: flex;
  }
  
  #typing-image {
    height: 400px;
    width: 225px;
    border-radius: var(--border-radius);
    /* translate x so its off the view width to the left */
    /* hide the image initially */
  }
  
  @keyframes slidein {
    from {

    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(-250%);
      visibility: visible;
    }
    to {
      transform: translateX(0);
      visibility: visible;
    }
  }

  @keyframes slideInRight {
    from {
      transform: translateX(250%);
      visibility: visible;
    }
    to {
      transform: translateX(0);
      visibility: visible;
    }
  }
  
  #typing-text {
    font-size: 70px;
    margin: 0;
    line-height: 1.2;
    font-weight: bold;
    position: relative;
    /* margin-top: 3em; */
    padding-top: 2.25em;
  }
  
  #sub-text {
    color: var(--myGray1);
    letter-spacing: 3px;
    font-size: 14px;
    position: relative;
    opacity: 0;
    animation: fadein 0.8s ease-out;
    animation-delay: 1.31s;
    animation-fill-mode: forwards;
  }

  @keyframes fadein {
    from {
      visibility: visible;
      opacity: 0;
    }
    to {
      visibility: visible;
      opacity: 1;
    }
  }
  







  /* the about and skills section */
  #double-view-container {
    display: flex;
  }

  .double-view-left, .double-view-right {
    padding: 20px;
    margin: 10px;
    margin-bottom: 0px;
    border-radius: var(--border-radius);
  }
  
  .double-view-left {
    width: 31%;
    float: left;
    background-color: var(--myGray2);

    visibility: hidden;
    animation: slideInLeft 1.5s ease-out;
    animation-delay: 3.04s;
    /* animation: slideInLeft 0.9s ease-out;
    animation-delay: 3s; */
    animation-fill-mode: forwards;
  }
  
  .double-view-right {
    width: 69%;
    float: right;
    background-color: var(--myGray2);

    visibility: hidden;
    animation: slideInRight 1.5s ease-out;
    animation-delay: 3.34s;
    /* animation: slideInRight 0.9s ease-out;
    animation-delay: 3s; */
    animation-fill-mode: forwards;
  }
  
  
  .about-header {
    color: var(--myBlue);
    font-size: 40px;
  }

  .about-text {
    line-height: 1.5;
  }

  .skills-header {
    color: var(--myBlue);
    font-size: 40px;
  }

  .skills-section-header {
    color: var(--myLightSlate);
    font-size: 23px;
  }

  .skills-text {
    /* color: #a2a2a3; */
    /* font-size: 20px; */
    line-height: 1.5;
    /* add a border below */
    margin-top: -10px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--myGray1);
  }








  /* the project section */
#project-header {
  color: var(--project-color1);
  font-size: 40px;
  /* text-align: right; */
  padding: 20px;
  margin: 10px;
  margin-bottom: 0px;
}

#project-wrapper {
    display: flex;
    height: 500px;
}

#project-content, #project-menu {
    box-sizing: border-box;
    height: 100%;
    margin: 10px;
    margin-bottom: 0px;
    padding: 20px;
}

#project-content {
  /* display: inline-block; */
  vertical-align: middle;
  flex-grow: 1;
  /* background-color: var(--project-color2); */
  display: flex;
  align-items: center;
  position: relative;
  padding: 0px;
}

#project-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  min-width: fit-content;
  border-radius: var(--border-radius);
  background-color: var(--myGray2);
  /* make the elements evenly spaced */
  /* justify-content: space-between; */
}

.project-menu-heading {
  font-size: 20px;
  /* font-weight: bold; */
  color: var(--project-color1);
  padding-top: 15px; 
  margin-bottom: 5px;
  border-top: 1px solid var(--myGray1);
  width: 100%;
  text-align: center;
}

.project-menu-item {
  cursor: pointer;
  background-color: transparent;
  transition: color 0.3s ease-in-out;
  padding: 5px;
  /* center the text */
  text-align: center;
}

.project-menu-item:hover {
  color: var(--myBlue);
  transition: color 0.3s ease-in-out;
}

.hidden {
  display: none; 
}

.showing {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  align-items: flex-start;
}

.project-title {
  color: var(--project-color1);
  font-size: 30px;
  text-align: right;
  margin-top: 60px;
}

.project-image {
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 rgba(0,0,0,0);
  transition: transform 0.3s ease-in-out;
}

/* on hover,bring the image forward using transform */
.project-image:hover {
  transform: scale(1.025);
  box-shadow: 0 0 10px rgba(0,0,0,1);
  transition: transform 0.3s ease-in-out;
}

.image-container {
  width: 70%;
  min-width: 70%;
}

.project-tools {
  line-height: 1.5;
  color: var(--myGray1);
  margin-top: 10px;
  margin-right: calc(var(--project-text-overlap) + +10px);
  flex-wrap: wrap;
  
}

.project-info {
  /* nothing here at the moment */
}

.project-description {
  color: var(--project-color3);
  line-height: 1.5;
  background-color: var(--project-color2);
  margin-left: calc(var(--project-text-overlap) * -1);
  padding: 20px;
  border-radius: var(--border-radius);
  z-index: 4;
}

/* defining the colors of each project */
#content-1 {
  --project-color1: rgb(162, 78, 245);
  --project-color2: rgb(0, 22, 37);
  --project-color3: white;
}

#content-2 {
  --project-color1: rgb(8, 253, 12);
  --project-color2: rgb(0, 34, 1);
  --project-color3: white;
}

#content-3 {
  --project-color1: rgb(233, 0, 0);
  --project-color2: rgb(46, 0, 0);
  --project-color3: white;
}






#socials-list {
  /* make the elements within vertically aligned */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: blue; */
  /* verticlly center each item */
  justify-content: center;
  /* put the div to the right in its parent */
  position: absolute;
  right: 10px;
  top: 0;
  height: 100%;
  /* padding-top: calc(105px - var(--socials-menu-spacer-height)); */
  padding-top: calc(136.5px - var(--socials-menu-spacer-height));

  opacity: 0;
  animation: fadein 0.8s ease-out;
  animation-delay: 3.76s;
  animation-fill-mode: forwards;

}

.socials-menu-spacer {
  border-width: 0.5px;
  border-style: solid;
  border-color: var(--myGray1);
  border-top-width: var(--socials-menu-spacer-height);
  /* border-top-width: 100px; */
  border-bottom-width: 0px;
}

.socials-item {
  /* margin: 10px;
  padding: 10px; */
  height: 50px;
  width: 50px;
  border-radius: var(--border-radius);
  /* background-color: #f1f1f1; */
  color: var(--myWhite);
  /* background-color: #08fdd8; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.socials-item i {
  /* color: #555555; */
  font-size: 24px;
  transition: color 0.3s ease-in-out;
}

.socials-item:hover i {
  color: var(--myBlue); /* Change the color to your desired value when hovered */
  transition: 0.3s ease-in-out;
}

.socials-item:hover {
  /* background-color: #e0e0e0; */
}





.contact-container {
  background-color: var(--myGray2);
  padding: 20px;
  margin: 10px;
  margin-bottom: 0px;
  border-radius: var(--border-radius);
}

.contact-header {
  color: var(--myBlue);
  font-size: 40px;
}

.contact-text {
  line-height: 1.5;
}