:root {
  --border-radius: 20px;
  --project-text-overlap: 250px;
  --project-menu-spacer-width: 25px;
  --socials-menu-spacer-height: 45px; /* max is 105, 80 was what I liked most*/
  /* --myBlue: #08fdd8; */
  /* --myRed: #fe1251; */
  
  --myGray1: #a2a2a3;
  --myGray2: #2c2c2c;
  --myBlack: 29, 29, 29;
  --myBlackColor: rgb(var(--myBlack));

  --myNavy: #0a192f;
  --myLightNavy: #112240;
  --myLightestNavy: #233554;
  --mySlate: #8892b0;
  --myLightSlate: #a8b2d1;
  --myLightestSlate : #ccd6f6;
  --myWhite: #e6f1ff;
  --myBlue: #61ffda;

  /* --myLightSlate: #2B4162; */
  /* --myLightSlate: #D62839; */
  /* --myLightSlate: rgb(76, 199, 229); */

  
  --project-color1: rgb(162, 78, 245);;
  --project-color2: var(--myGray2);
  --project-color3: rgb(255, 255, 255);
}







/* defining the overall layout of the page */
body {
  background-color: rgb(var(--myBlack));
  z-index: 3;
  /* background: linear-gradient(var(--myNavy) 0%, rgb(var(--myBlack)) 50%); */

}

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

#main-body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Fira Code', monospace; */
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: 'Courier New', Courier, monospace; */
  /* font-family: Helvetica, sans-serif; */

  color: var(--myWhite);
  /* background: rgb(var(--myBlack)); */
  padding: 20px;
  max-width: 1200px;
  min-width: 1040px;
  margin: 0 auto;
  position: relative;
  /* overflow-x: scroll; */
  overflow-x: hidden;


}








  /* cursor follow stuff */

#cursor-container {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  z-index: 9999;
}


.cursor-follow {
  position: absolute;
  /* transform: translate(-610%, -635%); */
  transform: translate(-28.5px, -29.5px);
  width: 6px;
  height: 6px;
  background-color: var(--myBlue);
  opacity: 0.8;
  border-radius: 50%;
  animation: bounceOff 0.5s;
  /* transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out; */
}

.circle-follow {
  position: absolute;
  transform: translate(-28.5px, -29.5px);
  width: 28px;
  height: 28px;
  border: 0.8px solid var(--myBlue);
  border-radius: 50%;
  opacity: 0.75;
  background-color: transparent;
}

.cursor-follow-clickable {
  /* make the width 60px */
  /* transform: translate(-28.5px, -29.5px); */
  width: 20px;
  height: 20px;
  opacity: 0.5;
  animation: bounceOn 0.5s;
  /* transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out; */
}

@keyframes bounceOn {
  0% {
    width: 5px;
    height: 5px;
  }
  30% {
    width: 22px;
    height: 22px;
  }
  60% {
    width: 18px;
    height: 18px;
  }
  100% {
    width: 20px;
    height: 20px;
  }
}

@keyframes bounceOff {
  0% {
    width: 20px;
    height: 20px;
  }
  30% {
    width: 3px;
    height: 3px;
  }
  60% {
    width: 7px;
    height: 7px;
  }
  100% {
    width: 5px;
    height: 5px;
  }
}








  /* defining the header and header menus */
  .static-menu {
    background-color: rgba(var(--myBlack), 0.5);
    border-radius: var(--border-radius);
    width: 400px;
    z-index: 1;
    margin-right: 10px;
    margin-left: auto;
    position: static;
    right: 10px;
    opacity: 0;
    /* animation: fadein 0.8s ease-out;
    animation-delay: 3.76s;
    animation-fill-mode: forwards; */
    
  }

  .moving-menu {
    background-color: rgba(var(--myBlack), 0.5);
    border-radius: var(--border-radius);
    width: 400px;
    z-index: 1;
    margin-right: 27px;
    margin-left: auto;
    position: fixed;
    right: calc(50% - 617px);
    opacity: 1;
    z-index: 4;
    
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    top: -70px;
    transition: top 0.3s ease-in-out;

  }

  @media screen and (max-width: 1250px) {
    .moving-menu {
      right: 10px;
    }
  }

  /* for when the menu pops down when scrolling up */
  .menu-sticky {
    position: fixed;
    top: 20px;
    opacity: 1;
    /* z-index: 4; */
    transition: top 0.3s ease-in-out;
  }

  /* to make the moving menu disappear when close to the top */
  .menu-invisible {
    opacity: 0;
  }
  
  /* the list of menu items */
  .menu-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3.5em;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* the menu items themselves */
  .menu-item {
    color: var(--myGray1);
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }

  .menu-item:hover {
    color: var(--myBlue);
    transition: 0.3s ease-in-out;
  }

  /* the vertical line between the menu items */
  .menu-spacer {
    border-width: 0.5px;
    border-style: solid;
    border-color: var(--myGray1);
    border-top-width: 8px;
    border-bottom-width: 8px;
  }

  .name-logo {
    text-decoration: none;
    margin: 20px;
    margin-top: 10px;
    font-size: 22px;
    /* font-weight: bold; */
    color: var(--myBlue);
    border-radius: var(--border-radius);
    border-radius: 10px;
    width: 37px;
    height: 37px;
    border: 1px solid var(--myBlue);
    /* background-color: var(--myBlue); */
    /* center the element horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    /* animation: fadein 0.8s ease-out;
    animation-delay: 3.38s;
    animation-fill-mode: forwards; */

    /* bring it back y */
    transform: translate(0, 0);
    transition: 0.3s ease-in-out;
  }

  /* on hover, make it rise by 3.5px */
  .name-logo:hover {
    transform: translateY(-3.5px);
    /* border: 2px solid var(--myBlue); */
    /* font-weight: bold; */
    background-color: var(--myBlue);
    color: rgb(var(--myBlack));
    transition: 0.3s ease-in-out;
  }

    /* this contains the static menu and the name-logo */
  .header-menu-container {
    display: flex;
  }








  /* the typing cursor */
  .cursor {
    background-color: var(--myBlue);
    width: 4px;
    display: inline-block;
    height: 1em;
    margin-left: 2px;
    animation: none;
  }
  
  @keyframes blink {
    50% {
      background-color: transparent;
    }
  }








  #typing-container {
    display: flex;
    transform: translateX(-290px);
    /* animation: slidein 0.8s ease-out;
    animation-delay: 3s;
    animation-fill-mode: forwards; */
  }
  
  #typing-left {
    border-radius: var(--border-radius);
    text-align: left;
  }
  
  #typing-right {
    padding: 60px 60px 0px 20px;
    justify-content: center;
    display: flex;
  }
  
  #typing-image {
    height: 400px;
    width: 225px;
    border-radius: var(--border-radius);
    /* translate x so its off the view width to the left */
    /* hide the image initially */
  }
  
  @keyframes slidein {
    from {

    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slideInLeft {
    from {
      transform: translate3d(-250%, 0, 0);
      visibility: visible;
    }
    to {
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
  }

  @keyframes slideInRight {
    from {
      transform: translateX(250%);
      visibility: visible;
    }
    to {
      transform: translateX(0);
      visibility: visible;
    }
  }
  
  #typing-text {
    font-size: 70px;
    margin: 0;
    line-height: 1.2;
    font-weight: bold;
    position: relative;
    /* margin-top: 3em; */
    padding-top: 2.25em;
  }
  
  #sub-text {
    color: var(--myGray1);
    letter-spacing: 3px;
    font-size: 14px;
    position: relative;
    opacity: 0;
    /* animation: fadein 0.8s ease-out;
    animation-delay: 1.31s;
    animation-fill-mode: forwards; */

    color: var(--myBlue);
    font-family: 'Roboto Mono', monospace;
  }

  @keyframes fadein {
    from {
      visibility: visible;
      opacity: 0;
    }
    to {
      visibility: visible;
      opacity: 1;
    }
  }

/* socials stuff now */
#socials-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  height: 100%;

  /* uncommenting this will align it with the bottom of the parent div */
  /* commenting it will center it with the image (ish) */
  top: 0;
  /* padding-top: calc(136.5px - var(--socials-menu-spacer-height)); */
  padding-top: calc(105px - var(--socials-menu-spacer-height));
  padding-top: calc(75px - var(--socials-menu-spacer-height));

  opacity: 0;
  /* animation: fadein 0.8s ease-out;
  animation-delay: 3.76s;
  animation-fill-mode: forwards; */
}

.socials-menu-spacer {
  border-width: 0.5px;
  border-style: solid;
  border-color: var(--myGray1);
  border-top-width: var(--socials-menu-spacer-height);
  border-bottom-width: 0px;
}

.socials-menu-spacer2 {
  border-width: 0.5px;
  border-style: solid;
  border-color: var(--myGray1);
  border-top-width: 9px;
  border-bottom-width: 9px;
}

.socials-item {
  /* margin: 10px; */
  /* padding: 10px; */
  height: 50px;
  width: 50px;
  border-radius: var(--border-radius);
  color: var(--myWhite);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  
}

.socials-item i {
  font-size: 24px;
  transform: translateY(0px);
  transition: color 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.socials-item:hover i {
  color: var(--myBlue);
  transform: translateY(-3.5px);
  transition: 0.3s ease-in-out;
}

.socials-item:hover {
  /* nothing here at the moment */
}
  







  /* the about and skills section */
  .double-view-container {
    display: flex;
  }

  .double-view-left, .double-view-right {
    padding: 20px;
    margin: 10px;
    margin-bottom: 0px;
    border-radius: var(--border-radius);
  }
  
  .double-view-left {
    width: 31%;
    float: left;
    background-color: var(--myGray2);

    visibility: hidden;
    /* animation: slideInLeft 1.5s ease-out;
    animation-delay: 3.04s;
    animation-fill-mode: forwards; */
  }
  
  .double-view-right {
    width: 69%;
    float: right;
    background-color: var(--myGray2);

    visibility: hidden;
    /* animation: slideInRight 1.5s ease-out;
    animation-delay: 3.34s;
    animation-fill-mode: forwards; */
  }
  
  
  .about-header {
    color: var(--myBlue);
    font-size: 40px;
  }

  .about-text {
    line-height: 1.5;
  }

  .skills-header {
    color: var(--myBlue);
    font-size: 40px;
  }

  .skills-section-header {
    /* color: var(--myLightSlate); */
    font-family: 'SF Mono', monospace;
    color: #61ffda;
    font-size: 23px;
    /* font-family: 'Montserrat', sans-serif; */
  }

  .skills-text {
    line-height: 1.5;
    margin-top: -10px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--myGray1);
  }






/* .project-section-wrapper {
    padding: 20px;
    border-radius: var(--border-radius);
    background-color: var(--project-color1);
} */

#project-header-static {
  /* make it invisible */
  visibility: hidden;

}

  /* the project section */
#project-header {
  color: var(--project-color1);
  font-size: 40px;
  /* text-align: center; */
  padding: 20px;
  margin: 10px;
  margin-bottom: 0px;


  /* border-radius: var(--border-radius);
  background-color: var(--myGray2); */
  /* text-align: center; */
  /* margin-bottom: 20px; */
}

#project-header-wrapper {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* border-radius: var(--border-radius);
  background-color: var(--myGray2); */
  /* text-align: center; */
  margin-bottom: 20px;
}

#project-header-spacer {
  background-color: var(--myGray1);
  width: 73%;
  height: 1px;
  /* align right */
  margin-right: 10px;
  margin-left: auto;

  /* center verticlly */
  transform: translateY(5px);


}

#project-wrapper {
    display: flex;
    height: 500px;
}

#project-content, #project-menu {
    box-sizing: border-box;
    height: 100%;
    margin: 10px;
    margin-bottom: 0px;
    padding: 20px;
}

#project-content {
  vertical-align: middle;
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0px;
}


#project-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  min-width: fit-content;
  border-radius: var(--border-radius);
  background-color: var(--myGray2);
  height: fit-content;
  padding-bottom: 40px;

  padding-bottom: 50px;
  padding-top: 30px;
  /* z-index: 5; */

  /* center it in it's parent div */
  /* margin: auto; */

  /* height: 110%; */

  /* line-height: 2em; */


  /* margin-top: -50px; */


  /* make the elements evenly spaced */
  /* justify-content: space-between; */
}

.project-menu-heading {
  font-size: 20px;
  /* font-weight: bold; */
  color: var(--project-color1);
  padding-top: 22.5px; 
  margin-bottom: 7.5px;
  border-top: 1px solid var(--myGray1);
  width: 100%;
  text-align: center;
}

.project-menu-item {
  cursor: pointer;
  background-color: transparent;
  transition: color 0.3s ease-in-out;
  padding: 7.5px;
  /* line height 2 em */
  /* center the text */
  text-align: center;
}

.project-menu-item:hover {
  color: var(--myBlue);
  transition: color 0.3s ease-in-out;
}

.hidden {
  display: none;
}

.showing {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  align-items: flex-start;
}

.outRight {
  transform: translateX(800px);
  transition: transform 0.5s ease-in-out;
}

.outLeft {
  transform: translateX(-800px);
  transition: transform 0.5s ease-in-out;
}

.inRight {
  transform: translateX(-800px);
  transition: transform 0.5s;
  animation: slideInRight2 0.5s forwards ease-in-out;
}

.inLeft {
  transform: translateX(800px);
  transition: transform 0.5s;
  animation: slideInLeft2 0.5s forwards ease-in-out;
}

@keyframes slideInRight2 {
  0% {
    transform: translateX(800px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInLeft2 {
  0% {
    transform: translateX(-800px);
  }
  100% {
    transform: translateX(0);
  }
}









.project-title {
  /* font-family: 'SF Mono', monospace; */
  color: var(--project-color1);
  font-size: 30px;
  text-align: right;
  margin-top: 60px;
}


.project-image {
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 rgba(0,0,0,0);
  position: relative;
  z-index: 1; /* Lower than project-description normal state */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-image:hover {
  transform: scale(1.025);
  box-shadow: 0 0 10px rgba(0,0,0,1);
  z-index: 3; /* Higher than both during hover state */
}

.image-container {
  width: 70%;
  min-width: 70%;
}

.project-tools {
  font-family: 'SF Mono', monospace;
  font-size: 15px;
  line-height: 1.5;
  color: var(--myGray1);
  margin-top: 10px;
  margin-right: calc(var(--project-text-overlap) + +10px);
  flex-wrap: wrap;
  
}

.project-info {
  /* nothing here at the moment */
}

.project-description {
  color: var(--project-color3);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--project-color2);
  margin-left: calc(var(--project-text-overlap) * -1);
  padding: 20px;
  border-radius: var(--border-radius);
  position: relative; /* Ensure position is set for z-index to work */
  z-index: 2; /* Higher than project-image normal state */
  /* text-align: right; */
  background: var(--project-color2);
  /* background: linear-gradient(120deg, var(--project-color1) 0%, var(--project-color2) 100%); */

}

























  .contact-view-left, .contact-view-right {
    padding: 20px;
    margin: 10px;
    margin-bottom: 0px;
    background-color: var(--myGray2);
    border-radius: var(--border-radius);
  }
  
  .contact-view-left {
    width: 50%;
    float: left;
  }
  
  .contact-view-right {
    width: 50%;
    float: right;
  }
  
  .contact-header {
    color: var(--myBlue);
    font-size: 40px;
  }

  .contact-text {
    line-height: 1.5;
  }

  .contact-image {
    /* padding: 20px; */
    float: right;
    margin: 10px;
    margin-bottom: 0px;
    border-radius: var(--border-radius);

    width: 50%;
    object-fit: cover;
    /* height: fit-content; */
    /* height: 300px; */
  }

  .contact-menu {
    /* background-color: var(--myLightNavy); */
    /* background-color: rgb(0, 84, 180); */
    border-radius: var(--border-radius);
    min-width: 300px;
    width: auto; /* Allow the width to grow as needed between the min and max values */
    z-index: 1;
    margin: 10px;
    margin-right: auto; /* Horizontally center in its parent */
    margin-left: auto; /* Horizontally center in its parent */
    position: static;
  }
  
  


/* .contact-container {
  background-color: var(--myGray2);
  padding: 20px;
  margin: 10px;
  margin-bottom: 0px;
  border-radius: var(--border-radius);
} */

.email-link, .linkedin-link {
  text-decoration: none;
  color: var(--myBlue);
  transition: color 0.3s ease-in-out;
}

.email-link:hover, .linkedin-link:hover {
  color: var(--myBlue);
  transition: color 0.3s ease-in-out;
}







.references-header {
  color: var(--myBlue);
  font-size: 40px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.references-text {
  line-height: 1.5;
  color: var(--myWhite);
  margin: 10px;
  /* font-size: 14px; */

}

.text-link {
  text-decoration: none;
  color: var(--myBlue);
  transition: color 0.25s ease-in-out;
  position: relative;
  z-index: 2; /* Higher z-index for normal state */
}

.text-link::before {
  content: '';
  position: absolute;
  bottom: -1px; /* Adjust the position of the underline */
  left: 0;
  width: 0;
  height: 0.5px; /* Adjust the thickness of the underline */
  opacity: 0.7;
  background-color: var(--myBlue);
  transition: width 0.25s ease-in-out;
}

.text-link:hover::before {
  width: 100%; /* Width set to 100% to make the underline expand from left to right */
}




.footer-container {
  /* align elements inside horizontally */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background: blue; */
}

.footer-text {
  /* center it */
  text-align: center;
  color: var(--myGray1);
  font-size: 14px;
  line-height: 1.5;
  /* width to fit content without going on a new line */
  /* width: 270px; */


}

.footer-spacer {
  margin: 20px;
  padding: 0;
  border-width: 0.5px;
  border-style: solid;
  border-color: var(--myGray1);
  width: 80px;
  /* width: calc((100% - 270px - 75px) / 2); */

}


.lexchat-iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  border: none;
  /* border-radius: var(--border-radius); */
  /* background-color: var(--myBlue); */
}


.button-link {
  text-decoration: none;
  /* margin: 20px;
  margin-top: 10px; */
  padding: 7px;
  /* font-size: 22px; */
  /* font-weight: bold; */
  color: var(--myBlue);
  border-radius: var(--border-radius);
  border-radius: 10px;
  width: fit-content;
  border: 1px solid var(--myBlue);
  /* background-color: var(--myBlue); */
  /* center the element horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--project-color1);
  border: 1px solid var(--project-color1);



  transform: translate(0, 0);
  transition: 0.3s ease-in-out;
}

/* on hover, make it rise by 3.5px */
.button-link:hover {
  transform: translateY(-3.5px);
  /* border: 2px solid var(--myBlue); */
  /* font-weight: bold; */
  background-color: var(--myBlue);
  color: rgb(var(--myBlack));

  background-color: var(--project-color1);


  transition: 0.3s ease-in-out;
}



















/* defining the colors of each project */

/* Amingo Amigo */
#content-1 {
  /* --project-color1: rgb(162, 78, 245); */
  --project-color1: rgb(162, 78, 245);
  --project-color2: rgb(17, 9, 26);
  --project-color3: rgb(255, 255, 255);

  --project-color2: var(--myGray2);

}

/* LexChat */
#content-2 {
  --project-color1: #0084ff;
  --project-color2: rgb(9, 26, 39);
  --project-color3: rgb(255, 255, 255);

  --project-color2: var(--myGray2);
}

/* RotoBrush */
#content-3 {
  /* --project-color1: rgb(233, 0, 0); */
  --project-color1: #4cc7e5;
  --project-color2: rgb(9, 26, 39);
  --project-color3: rgb(255, 255, 255);

  --project-color2: var(--myGray2);
}

/* Panorama Stitch */
#content-4 {
  --project-color1: #ff386d;
  --project-color2: rgb(17, 9, 26);
  --project-color3: rgb(255, 255, 255);

  --project-color2: var(--myGray2);
}

#content-5 {
  --project-color1: hsl(63, 100%, 70%);
  --project-color2: rgb(17, 9, 26);
  --project-color3: rgb(255, 255, 255);

  --project-color2: var(--myGray2);
}

/* MicroCaml */
#content-6 {
  --project-color1: #5af8a1;
  --project-color2: rgb(6, 29, 9);
  --project-color3: rgb(255, 255, 255);

  --project-color2: var(--myGray2);
}

/* Architecture */
#content-7 {
  --project-color1: rgb(255, 174, 43);
  --project-color2: rgb(0, 0, 0);
  --project-color3: rgb(255, 255, 255);

  --project-color1: #ff8a2b;
  --project-color2: var(--myGray2);

}
  /* an interesting orange: #FF6B2B; */
  /* --myLightSlate: #2B4162; */
  /* --myLightSlate: #D62839; */


.static-menu-mobile {
  display: none;
}

#project-menu-mobile {
  display: none;
}

.project-tools-mobile {
  display: none;
}

.contact-menu-mobile {
  display: none;
}

.footer-container-mobile {
  display: none;
}




  